<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watcher | My Watchlist</title>
    <link rel="stylesheet" href="../static/stylesheets/nav.css" />
    <link rel="stylesheet" href="../static/stylesheets/watchlist.css" />
    <script
      src="https://kit.fontawesome.com/f2634cfbed.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include("nav.ejs"); %>
    <section>
      <p>
        Your watchlist is empty! Click on the
        <i class="fa-solid fa-magnifying-glass"></i> to add some shows
      </p>
      <ul id="shows-info">
        <% shows.forEach((show) => { %>
        <li>
          <% if (show.image !== null) { %>
          <img src="<%= show.image.medium %>" alt="show poster" />
          <% } else { %>
          <img src="../static/images/noimg.jpg" alt="show poster" />
          <% } %>
          <div class="show-info">
            <span class="show-name"><%= show.name %></span>
            <span class="show-status"
              >Status: <% if (show.status == "Running") { %>
              <span class="running"><%= show.status.toUpperCase() %></span>
              <% } else { %>
              <span class="ended"><%= show.status.toUpperCase() %></span>
              <% } %>
            </span>
            <% if (show._links.nextepisode) { %>
            <span class="next-episode"
              >Next Episode: <%= show._links.nextepisode.name %></span
            >
            <span class="airtime" id="airtime"
              >Airing:
              <span><%= show._links.nextepisode.airstamp %></span></span
            >
            <% } else if (show._links.previousepisode) { %>
            <span class="next-episode"
              >Last Episode: <%= show._links.previousepisode.name %></span
            >
            <span class="airtime" id="airtime"
              >Aired:
              <span><%= show._links.previousepisode.airstamp %></span></span
            >
            <% } else { %>
            <span class="next-episode">Episode information not avaliable</span>
            <span class="airtime" id="airtime">Airing: <span>TBA</span></span>
            <% } %>
            <a href="/shows/remove/<%= show.id %>">remove</a>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>
    <script
      type="application/javascript"
      src="../static/javascripts/watchlist.js"
    ></script>
  </body>
</html>
